.App {
  font-family: "Montserrat", sans-serif;
}

.weather-app-wrapper {
  max-width: 1080px;
  margin: 70px auto;
}

.weather-app {
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(69, 69, 69);
  background-size: cover;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

@media (max-width: 1199px) {
  footer {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }

  .weather-app-wrapper {
    margin: 20px auto;
    margin-bottom: 50px;
  }
}
