.weather-forecast-section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 40px;
}

.daily-forecast-item {
  padding-bottom: 10px;
}

@media (max-width: 1199px) {
  .weather-forecast-section {
    padding: 25px;
  }
}

@media (max-width: 767px) {
  .weather-forecast-section {
    font-size: 13px;
  }

  .weather-forecast-section {
    padding: 25px;
  }
}
