h1,
h2,
p,
h3,
i {
  color: white;
}

.conditions-section {
  align-items: flex-end;
}

.city {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0;
}

.temperature {
  margin-bottom: 0;
}

.date {
  font-size: 13px;
  margin-bottom: 0;
}

.conditions {
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 20px;
}

.humidity-wind {
  margin-bottom: 0;
}

.details {
  font-size: 13px;
  color: white;
  margin-bottom: 0;
}

.temperature {
  font-size: 80px;
  font-weight: 800;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature .units {
  position: relative;
  top: -28px;
  font-size: 40px;
  font-weight: 800;
}

.today-weather-subsection {
  margin-left: 25px;
}

@media (max-width: 1199px) {
  .city {
    font-size: 34px;
  }

  .temperature {
    font-size: 68px;
  }

  .conditions {
    font-size: 18px;
  }

  .date,
  .humidity-wind {
    font-size: 12px;
  }

  .weather-temperature .units {
    top: -20px;
  }
}

@media (max-width: 991px) {
  .WeatherDetails {
    margin-top: 250px;
  }
}

@media (max-width: 767px) {
  .WeatherDetails {
    margin: 80px auto 45px;
  }

  .date {
    margin-bottom: 30px;
  }

  .details-section {
    flex-direction: column;
    text-align: center;
  }

  .conditions-section {
    flex-direction: column;
    align-items: center;
  }

  .today-weather-subsection {
    margin-left: 0px;
  }

  .conditions {
    margin-left: 8px;
  }

  .weather-icon-section {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .WeatherDetails {
    margin: 35px auto 45px;
  }
}
